#logo{
    background-image: url("./assets-20210611T050526Z-001/assets/backgrounds/landing.jpg");
    position: contain;
    height: 50vh;
    background-size: cover;
    width:100%;
    background-repeat:no-repeat;
    

}



  #pic{
      display: flex;
      justify-content: center;
  } 
 #motto{
     display: flex;
     justify-content: center;
     color: #ffffff;
     font-size: 30px;
 }
 
#tabs>.list>#hpp>.happyhour{
    text-align: center;
    height: 40px;
    width: 200px;
}
.breakfasttext{
    transform: translate(-50%,-50%);
    left:50%;
    top: 50%;
    text-align: center;
    position: absolute;
    color: #ffffff;
}
.breakfast{
    position: relative;
    text-align: center;
    width: 100%;
    height:auto;
}
.pt{
    color: black;
    background-color:#D25108;
    text-align: center;
    width: 25%;
    height: 50%;
   
}
.lunchtext{
    transform: translate(-50%,-50%);
   left: 50%;
    text-align: center;
    top:50%;
    text-decoration-color: #ffffff;
    position: absolute;
    color:#ffffff

}
.lunch{
    position: relative;
    text-align: center;
    opacity: 0.4;
}

.dinnertext{
    transform: translate(-50%,-50%);
   left: 50%;
    text-align: center;
    top:50%;
    text-decoration-color: #ffffff;
    position: absolute;
    font-weight: 500;
    color: #ffffff;

}
.dinner{
    position: relative;
    text-align: center;
}
#tabs{
    display: flex;
    width: 100%;
}

#drink{
    display: flex;
    
}
.drinksp{
    float: right;
}
#fastfood{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 5px;
   
}
.imgs{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 5px;

}

.fastfoodp{
    border: 2px solid #ffffff;
    margin-top: 20px;
}

#drink{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    

}  

.madrinks{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    float: right;
    padding-bottom: 20px;
    box-shadow: 0 0 5px;
   
}

.drinksww{
    border: 2px solid #ffffff;
    float: left;
    text-align: right;
}
/* 
#lss{
    
    background-image: url("./assets-20210611T050526Z-001/assets/backgrounds/foodsBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    font-style: normal;
    text-decoration-color: #ffffff;
    padding: 20px 20px 20px 20px;
} */




.vg2{

    color: #F15A29;
}

#tabz{
    display: flex;
    flex-direction: row;
    
}
.fastfood{
    width: 100%;
    text-align: center;
}.drinks{
    width: 100%;
    text-align: center;
}
.chicken{
    width: 100%;
    text-align: center;
}
.rice{
    width: 100%;
    text-align: center;
}

.tabs{
    display: flex;
    flex-direction: row;    
}

.cb{
    color: #D25108;
}

.menub p {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}



#tabs{
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    /* position:relative; */
    align-items: center;
}

#tabs div{
    width: 100%;
}

#tabs img{
    width: 100%;
    height: 100%;
}
.tabs div{
    width:25%;
}
#footer{
    background-color:  #F15A29;
    color: #ffffff;
}
#customers{
    float: left;
    padding: 13px;
}

.footerwords{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerlogo{
    position: relative;
    width: 48px;
    height: 45px;
    left: 44%;
    right: 56%;
    top: 10px;
    bottom: 100px;
}

.footerimages{
    display: flex;
    flex-direction: row;
    align-items: center;
}

*{
    text-decoration: none;
}

 .st{
    background-image: url("./assets-20210611T050526Z-001/assets/backgrounds/foodsBg.jpg");
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* align-items:center; */
  
} 

.customers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto 20px auto;
    box-shadow: 0 0 5px;
}

#customers, #about menu{
         text-align: center;
         margin: 0 20px 0 10px;
         
}
#customers{
    border-right: solid grey 1px;
}
#tabsz{
    display: flex;
    background-image: url("./assets-20210611T050526Z-001/assets/backgrounds/foodsBg.jpg");
    width: 59.5%;
    flex-direction: column;
    justify-content:space-between;
    background-size:50%;
}

.menub{
    display: flex;
    border: 1px;
    color:black;
    padding: 0;
    margin-top: 30px;
    width: 55%;
    text-align: center;
   


}

.tabsimg{
    display: inline-flex;
    width: 55%;
    align-items: center;
    /* background-color: */
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    background-color: white;
    margin-bottom: 30px;
    
}

.topfooter{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-image: url("./assets-20210611T050526Z-001/assets/backgrounds/subscribe.jpg");
    height: 200px;
    
    color: #ffffff;
    text-align: center;
}

.cb{
    padding: 0 20px;
    left: 20px;

}

.fastfood{
    background-color: #ffffff;
    color: #F15A29;
}

.drinks{
    background-color:gray;
    border-left: solid black;
}

.vg1{
    display: flex;
    border: 2px solid #F15A29;
    border-width: thin;
    color: #F15A29;
}


.hr{
    width: 25%;
    height: 50%;
    justify-content: center;
    text-align: center;
}

.footerimages{
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
}
.ss{
    color: #F15A29;
}

#hpp{
    width: 394px;
    height: 240px;

}
button{
    color: #F15A29;
}